<div class="flex-wrapper">
  <div class="main">
  <div class="jumbotron">
    <div>
      <h1 class="display-4">{{title}}</h1>
      <p class="lead">
        <span>Liste de toutes les espèces disponibles sur Adopt Me!</span>
      </p>
    </div>
  </div>
  <hr>
  <div class="container">
    <div *ngIf="!isLoading" class="row">
      <div class="col-3 d-flex justify-content-center" *ngFor="let specie of species" (click)="toAnimalList(specie.id_espece, specie.nbrAnimalEspece)">
        <div class="card border-info mb-3">
          <div class="card-header">{{specie.nom_espece}}</div>
          <div class="card-body text-info">
            <h5 class="card-title"></h5>
            <strong>
              {{
                specie.nbrAnimalEspece === 0
                  ? "Désolé aucun " + specie.nom_espece + " à adopter pour le moment"
                  : specie.nbrAnimalEspece + " " + addPlural(specie)
              }}
            </strong>
          </div>
        </div>
      </div>
    </div>
    <app-loading-spinner *ngIf="isLoading" class="loading-spinner row justify-content-center mt-5"></app-loading-spinner>
  </div>
  <hr>
</div>
  <div class="footer">
    <div class="jumbotron parralx-bottom">
    </div>
  </div>
</div>


