<br>
<h4 class="text-center">Ajouter, modifier ou supprimer une espèce</h4>
<hr>
<div class="container">
  <form [formGroup]="formSpecies">
    <h4 class="text-center">Espèces</h4>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label>Nouvelle espèce</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nouvelle espèce" formControlName="newSpecie" name="newSpecie">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="createSpecie()">Ajouter</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
            <div class="form-group">
              <label>Espèces enregistrées</label>
              <select class="custom-select" formControlName="selectedSpecie" name="selectedSpecie">
                <option selected>Choisissez une caractéristique...</option>
                <option value="1">cheveux long</option>
                <option value="2">couleur de yeux</option>
                <option value="3">poils long</option>
              </select>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label>Valeur</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Valeur" formControlName="valueSpecie" name="valueSpecie">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" (click)="updateSpecie()">Modifier</button>
                  <button class="btn btn-outline-secondary" type="button" (click)="deleteSpecie()">Supprimer</button>
                </div>
              </div>
            </div>
          </div>
        </div>
  </form>
    <hr>
  <form [formGroup]="formRaces">
    <h4 class="text-center">Races</h4>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label>Nouvelle race</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nouvelle race" formControlName="newRace" name="newRace">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="createRace()">Ajouter</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label>Races enregistrées pour l'espèce</label>
          <select class="custom-select" formControlName="selectedRace" name="selectedRace">
            <option selected>Choisissez une race...</option>
            <option value="1">cheveux long</option>
            <option value="2">couleur de yeux</option>
            <option value="3">poils long</option>
          </select>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label>Valeur</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Valeur" formControlName="valueRace" name="valueRace">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="updateRace()">Modifier</button>
              <button class="btn btn-outline-secondary" type="button" (click)="deleteRace()">Supprimer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
    <hr>
  <form [formGroup]="formSepecifications">
    <h4 class="text-center">Caractéristiques</h4>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label>Nouvelle caractéristique</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Valeur" formControlName="newChara" name="newChara">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="createChara()">Ajouter</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label>Caractéristiques enregistrées pour l'espèce </label>
          <select class="custom-select" formControlName="selectedChara" name="selectedChara">
            <option selected>Choisissez une caractéristique...</option>
            <option value="1">cheveux long</option>
            <option value="2">couleur de yeux</option>
            <option value="3">poils long</option>
          </select>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label>Valeur</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Valeur" formControlName="valueChara" name="valueChara">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="updateChara()">Modifier</button>
              <button class="btn btn-outline-secondary" type="button" (click)="deleteChara()">Supprimer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<hr>
<br>


