<br>
<h4 class="text-center">Ajouter, modifier ou supprimer une espèce</h4>
<hr>
<div class="container">
  <div *ngIf="successMessage" class="alert alert-success" role="alert" [style.opacity]="!showAlert ? '0' : '1'" [style.visibility]="!showAlert ? 'hidden' : 'visible'">
    {{successMessage}}
  </div>
  <form [formGroup]="formSpecies">
    <h4 class="text-center">Espèces</h4>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label>Nouvelle espèce</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nouvelle espèce" formControlName="newSpecie" name="newSpecie">
            <div class="input-group-append">
              <button class="btn btn-outline-success" type="button" (click)="createSpecie()">Ajouter</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
            <div class="form-group">
              <label>Espèces enregistrées</label>
              <select class="custom-select" formControlName="selectedSpecie" name="selectedSpecie" [(ngModel)]="defaultSpecies" (change)="selectSpecies()">
                <option value="default">Choisissez une espèce...</option>
                <option *ngFor="let specie of species" value="{{specie.id_espece}}">{{specie.nom_espece}}</option>
              </select>
            </div>
          </div>

          <div class="col-6">
            <div *ngIf="selectedSpecies" class="form-group">
              <label>Valeur</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Valeur" formControlName="valueSpecie" name="valueSpecie">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" type="button" (click)="updateSpecie()">Modifier</button>
                  <button class="btn btn-outline-danger" type="button" (click)="deleteSpecie()">Supprimer</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    <hr>
  </form>

  <form *ngIf="selectedSpecies" [formGroup]="formRace">
    <h4 class="text-center">Races</h4>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label>Nouvelle race</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nouvelle race" formControlName="newRace" name="newRace">
            <div class="input-group-append">
              <button class="btn btn-outline-success" type="button" (click)="createRace()">Ajouter</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label>Races enregistrées pour l'espèce</label>
          <select class="custom-select" formControlName="selectedRace" name="selectedRace" [(ngModel)]="defaultRace" (change)="selectRace()">
            <option value="default">Choisissez une race...</option>
            <option *ngFor="let race of races" value="{{race.id_race}}">{{race.nom_race}}</option>
          </select>
        </div>
      </div>

      <div class="col-6">
        <div *ngIf="selectedRace" class="form-group">
          <label>Valeur</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Valeur" formControlName="valueRace" name="valueRace">
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="button" (click)="updateRace()">Modifier</button>
              <button class="btn btn-outline-danger" type="button" (click)="deleteRace()">Supprimer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </form>

  <form *ngIf="selectedSpecies" [formGroup]="formSepecifications">
    <h4 class="text-center">Caractéristiques</h4>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label>Nouvelle caractéristique</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Valeur" formControlName="newChara" name="newChara">
            <div class="input-group-append">
              <button class="btn btn-outline-success" type="button" (click)="createChara()">Ajouter</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label>Caractéristiques enregistrées pour l'espèce </label>
          <select class="custom-select" formControlName="selectedChara" name="selectedChara" [(ngModel)]="defaultChara" (change)="selectChara()">
            <option value="default">Choisissez une caractéristique...</option>
            <option *ngFor="let character of characters" value="{{character.id_caracteristique}}">{{character.nom_caracteristique}}</option>
          </select>
        </div>
      </div>

      <div class="col-6">
        <div *ngIf="selectedChara" class="form-group">
          <label>Valeur</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Valeur" formControlName="valueChara" name="valueChara">
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="button" (click)="updateChara()">Modifier</button>
              <button class="btn btn-outline-danger" type="button" (click)="deleteChara()">Supprimer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </form>
</div>

<br>


