<div class="flex-wrapper">
  <div class="main">
    <div class="jumbotron">
      <div>
        <h1 class="display-4">{{title}}</h1>
        <p class="lead">
          <span>Les animaux sont nés pour nous apprendre à aimer</span>
        </p>
        <p class="lead">
          <a class="btn btn-danger btn-lg" href="#" role="button">Adopter</a>
        </p>  </div>
    </div>
    <hr>
    <div class="container">
      <div *ngIf="!isLoading" class="row d-flex justify-content-center">
          <div class="col-3 m-2 card" *ngFor="let animal of animals;" (click)="toAnimal(animal.id_animal)">
            <img [src]="transform(animal.image[0].image)" class="card-img-top">
            <div class="card-body">
              <p class="card-title"><strong class="text-info">{{animal.nom.toUpperCase()}}</strong> <span class="float-right">Adopté : <strong>{{animal.adopte}}</strong> </span></p>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <hr>
    <div class="jumbotron parralx-bottom">
    </div>
  </div>
</div>
