ngb-carousel .wrapper {
  position: relative;
  height: 0;
  padding-top: 55%; /* Keep ratio for 900x500 images */
}

ngb-carousel .wrapper>img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.row {
  margin: auto;
  width: 100% !important;
}

.jumbotron {
  border-radius: 0;
  color: white;
  text-shadow: 2px 1px black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("../../assets/images/home.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parralx-bottom {
  margin: 0;
}

thead {
  text-align: center;
}

.bolder {
  font-weight: bolder;
}

.red {
  color: #6d081a;
  font-weight: bolder;

}

.card {
  min-width: 22rem!important;
  height: auto!important;
  cursor: pointer!important;
  padding: 0;
}

.card:hover {
  opacity: 0.6;
  border-color: #17a2b8;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}






