<div class="jumbotron">
  <div>
    <h1 class="display-4">{{title}}</h1>
    <p class="lead">
      <span>Les animaux sont nés pour nous apprendre à aimer</span>
    </p>
    <p class="lead">
      <a class="btn btn-danger btn-lg" href="#" role="button">Adopter</a>
    </p>  </div>
</div>
<hr>
<div class="container">
<div class="row">
  <div class="col-12 col-md-6 d-flex justify-content-center">
    <div class="card border-info mb-3" (click)="toStories()">
      <div class="card-header"> <i class="stories material-icons align-middle">pets</i>  Adopter </div>
      <div class="card-body text-info">
        <h5 class="card-title">X animaux vous attendent</h5>
        <p class="card-text">On a tous une chance d'être adoptés....</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 d-flex justify-content-center">
    <div class="card border-secondary mb-3" (click)="toProfile()">
      <div class="card-header"> <i class="profile material-icons align-middle">account_circle</i> Mon profil  </div>
      <div class="card-body text-secondary">
        <h5 class="card-title">Nom de plumes</h5>
        <p class="card-text">Accéder à votre profil ici....</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 d-flex justify-content-center">
    <div class="card border-success mb-3" (click)="toContacts()">
      <div class="card-header"> <i class="contacts material-icons align-middle">perm_contact_calendar</i>  Mes contacts</div>
      <div class="card-body text-success">
        <h5 class="card-title">Vous avez x contacts</h5>
        <p class="card-text">Échangez, écrivez et discutez avec vos contacts.... </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 d-flex justify-content-center">
      <div class="card border-danger mb-3">
        <div class="card-header">Option</div>
      <div class="card-body text-danger">
        <h5 class="card-title">Option titre</h5>
        <p class="card-text">Option text</p>
      </div>
      </div>
  </div>
</div>
</div>

<hr>

<div class="jumbotron parralx-bottom">
</div>
