.err404 {
  background: #6d081a !important;
  color: #fff !important;
  font-family: 'Open Sans', sans-serif !important;
  overflow: hidden !important;
  height: 100%;
  width: 100%;
  position: fixed;
  border-top: 50px solid black;
  border-bottom: 100px solid black;
}

.contains {
  background-image: url("../../assets/images/404guy.png");
  background-repeat: no-repeat;
  color: white;
  padding: 5%;
  text-align: center;
  display: block;
  position: relative;
  margin: 100px auto;
  height: 100%;
  width: 100%;
}

._404 {
  font-size: 220px;
  position: relative;
  display: inline-block;
  z-index: 2;
  height: 250px;
  letter-spacing: 15px;
}

._1 {
  text-align: center;
  display: block;
  position: relative;
  letter-spacing: 12px;
  font-size: 4em;
  line-height: 80%;
}

._2 {
  text-align: center;
  display: block;
  position: relative;
  font-size: 20px;
}


.text {
  font-size: 70px;
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 19px 0px 0px 0px;
  z-index: 3;
  width: 100%;
  line-height: 1.2em;
  display: inline-block;
}


.btn {
  background-color: rgb(255, 255, 255);
  position: relative;
  display: inline-block;
  width: 358px;
  padding: 5px;
  z-index: 5;
  font-size: 25px;
  margin: 0 auto;
  color: #6d081a;
  text-decoration: none;
  margin-right: 10px
}

.btn:hover {
  color: #6d081a;
  opacity: 0.8;
}

.right {
  float: right;
  width: 60%;
}

hr {
  padding: 0;
  border: none;
  border-top: 5px solid #fff;
  color: #fff;
  text-align: center;
  margin: 0px auto;
  width: 420px;
  height: 10px;
  z-index: -10;
}

