<div class="jumbotron">
  <div>
    <h1 class="display-4">Profil</h1>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 d-flex justify-content-center">

      <div class="card">

        <div class="imageProfile text-center mt-2" (click)="toChangeImage()">

          <img src="assets/images/img_avatar.png" class="card-img-top" alt="...">

          <div class="middle">
            <div class="text"><i class="contacts material-icons align-middle">mode_edit</i> </div>
          </div>

        </div>

        <hr>
        <div class="card-body">
          <h5 class="card-title">{{this.user.username}}</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">Compte crée le 31/01/2021</small>
        </div>
      </div>

    </div>
    <div class="col-12 col-md-8 d-flex justify-content-center">

      <div class="cardRight card">
        <div class="card-body">
          <p class="text-right"><span class="text-red">*</span>  champs obligatoires</p>
          <form [formGroup]="formUser">
            <app-loading-spinner *ngIf="isLoading" class="loading-spinner row justify-content-center"></app-loading-spinner>
            <div class="alert alert-success" role="alert" *ngIf="successMessage">
              {{successMessage}}
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
              {{errorMessage}}
            </div>
            <div class="form-group">
              <label for="penName">Pseudo <span class="text-red">*</span> </label>
              <div class="input-group mb-0">
                <input type="text" class="form-control" id="penName" formControlName="penName" value="Pseudo" #penName [readonly]="!btnEditPenName">
                <div class="input-group-append">
                  <button *ngIf="!btnEditPenName" class="btn-form btn btn-outline-info" type="button" (click)="openEditPenName()"><i class="material-icons align-middle">create</i></button>
                  <button *ngIf="btnEditPenName" class="btn-form btn btn-outline-success" type="button" (click)="savePenName()"><i class="material-icons align-middle">check</i></button>
                  <button *ngIf="btnEditPenName" class="btn-form btn btn-outline-danger" type="button" (click)="cancelPenName()"><i class="material-icons align-middle">close</i></button>
                </div>
              </div>
              <div class="text-danger" *ngIf="penNameF.invalid && (penNameF.dirty || penNameF.touched)">
                <small *ngIf="penNameF.errors.required">
                  Le pseudo est requis.
                </small>
                <small
                  *ngIf="penNameF.errors.minlength">
                  Le pseudo doit comporter au moins 4 caractères.
                </small>
                <small
                  *ngIf="penNameF.errors.maxlength">
                  Le pseudo ne doit comporter plus de 30 caractères.
                </small>
              </div>
            </div>


            <div class="form-group">
              <label for="mail">Adresse mail <span class="text-red">*</span> </label>
              <div class="input-group mb-0">
                <input type="text" class="form-control" id="mail" formControlName="mail" value="test@test.fr" #mail [readonly]="!btnEditMail">
                <div class="input-group-append">
                  <button *ngIf="!btnEditMail" class="btn-form btn btn-outline-info" type="button" (click)="openEditMail()"><i class="material-icons align-middle">create</i></button>
                  <button *ngIf="btnEditMail" class="btn-form btn btn-outline-success" type="button" (click)="saveMail()"><i class="material-icons align-middle">check</i></button>
                  <button *ngIf="btnEditMail" class="btn-form btn btn-outline-danger" type="button" (click)="cancelMail()"><i class="material-icons align-middle">close</i></button>
                </div>
              </div>
              <div class="text-danger" *ngIf="mailF.invalid && (mailF.dirty || mailF.touched)">
                <small *ngIf="mailF.errors.required">L'adresse mail est requise.</small>
                <small *ngIf="mailF.errors.email"> L'adresse mail doit être valide.</small>
              </div>
            </div>

            <div *ngIf="!editPassword">
              <button class="btn btn-danger float-right" (click)="openEditPassword()">Changer le mot de passe </button>
            </div>

            <div *ngIf="editPassword" class="form-group">
              <label for="password">Mot de passe</label>
              <input type="password" class="form-control" id="password" formControlName="password" placeholder="Nouveau mot de passe" #password>
              <div class="text-danger" *ngIf="passwordF.invalid && (passwordF.dirty || passwordF.touched)">
                <small
                  *ngIf="passwordF.errors.minlength">
                  Le nouveau mot de passe doit comporter au moins 6 caractères.
                </small>
              </div>
            </div>

            <div *ngIf="editPassword" class="form-group">
              <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirmez votre nouveau mot de passe">
              <div class="text-danger" *ngIf="passwordF.valid && confirmPasswordF.invalid && (confirmPasswordF.dirty || confirmPasswordF.touched)">
                <small *ngIf="confirmPasswordF.errors.required">
                  Le nouveau mot de passe doit être confirmé.
                </small>
                <small
                  *ngIf="confirmPasswordF.errors.confirmPasswordValidator">
                  Les nouveaux mots de passe ne correspondent pas.
                </small>
              </div>
            </div>

            <div *ngIf="editPassword" class="form-group">
              <button class="btn btn-danger float-right" (click)="cancelPassword()"><i class="stories material-icons align-middle">close</i> </button>
              <button class="btn btn-success float-right mr-2" (click)="savePassword()" [disabled]="!(passwordF.valid && confirmPasswordF.valid)"><i class="stories material-icons align-middle">check</i> </button>

            </div>
          </form>
          <br>
          <br>
          <br>


        </div>


      </div>

    </div>

  </div>
</div>

<hr>
