<div class="flex-wrapper">
  <div class="main">
    <div class="jumbotron">
      <div>
        <h1 class="display-4">Administrateur</h1>
        <p class="lead">
          <span>Gestion des animaux</span>
        </p>
      </div>
    </div>
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" [ngClass]="{'active': changeTemplate}" (click)="changeTemplate=true"><a >Ajouter un animal</a></li>
          <li class="breadcrumb-item" [ngClass]="{'active': !changeTemplate}" (click)="changeTemplate=false"><a>Ajouter, modifier ou supprimer une espèce</a></li>
        </ol>
      </nav>
    </div>

    <ng-container *ngIf="changeTemplate; else adminCustom">
      <app-add-animal (sendForm)="saveForm($event)" [savedForm]="formSave"></app-add-animal>
    </ng-container>
    <ng-template #adminCustom>
      <app-admin-custom></app-admin-custom>
    </ng-template>
  </div>
  <div class="footer">
    <div class="jumbotron parralx-bottom">
    </div>
  </div>
</div>

