# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Hiche\LicencePro\Cours\Sécurité et Application répartie\Projet\ProjetAdoption\ProjetAdoption_Back\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
