.nav-link {
  color: #dc3545;
}

.nav-link:hover {
  color: #b02b39;
}

.title {
  color: inherit;
}

.btn-profile {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-logout {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

